<div id="comment_<%= comment.id %>" class="mb-3">
    <div class="d-flex align-items-start gap-2">
        <div class="my-1">
            <%= render partial: 'profiles/avatar', locals: { user: comment.commenter, size: "36" } %>
        </div>
        <div>
            <h6>
                <%= comment.commenter.username %>
                <% if comment.created_at != comment.updated_at %>
                    <small class="fw-light">(Edited)</small>
                <% end %>
            </h6>
            <p class="m-0 p-0"><%= comment.body %></p>
            <div class="comment-controls">
                <% if current_user == comment.commenter %>
                    <%= link_to "Edit", edit_post_comment_path(comment.post, comment), data: { turbo_method: :edit } %>
                <% end %>
                <% if [comment.commenter, comment.post.creator].include? current_user %>
                    <%= link_to "Delete", post_comment_path(comment.post, comment), data: { turbo_method: :delete, turbo_confirm: "Are you sure?" } %>
                <% end %>
            </div>
        </div>
    </div>
    
    
</div>