<%= form_with model: [comment.post, comment], class: "needs-validation d-flex gap-3 flex-column" do |form| %>
    <%= form.hidden_field :commenter_id, required: true, value: current_user.id %>
    <%= form.hidden_field :post_id, required: true %>

    <div class="control">
        <%= form.text_area :body, class: "form-control", placeholder: "Add a comment", required: true, rows: 2 %>
        <% comment.errors.full_messages.each do |message| %>
            <div class="form-text">
                <%= message %>
            </div>
        <% end %>
    </div>

    <%= form.submit comment.persisted? ? "Edit Post" : "Add comment", class: "btn btn-outline-primary" %>
<% end %>